*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}